<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드-->
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

<body>

<div id="wrapper">
    <!-- 사이드바-->
    <th:block th:replace="/layout/fragments/sidebar :: sidebarFragment"></th:block>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <!-- 상단바-->
            <th:block th:replace="/layout/fragments/top :: topbarFragment"></th:block>

            <!-- 본문-->
            <div class="container-fluid">
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>

        <!-- 공통 하단-->
        <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
    </div>
</div>

</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">취소</button>
                <a class="btn btn-primary" th:href="@{/logout}">확인</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>