<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-text mx-3">Benope</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            HR
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseOne"
               data-toggle="collapse" href="#">
                <span>사용자 관리</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseOne">
                <div class="bg-white py-2 collapse-inner rounded">
<!--                    <h6 class="collapse-header">사용자</h6>-->
                    <a class="collapse-item" th:href="@{/user/list}">사용자 현황</a>
                    <a class="collapse-item" th:href="@{/user/create}" sec:authorize="hasRole('ADMIN')">사용자 등록</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="#">
                <span>휴가 관리</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/user/list}">휴가 현황</a>
                    <a class="collapse-item" th:href="@{/leave-request/create}">휴가 신청</a>
                    <a class="collapse-item" th:href="@{/user/create}" sec:authorize="hasRole('ADMIN') or hasRole('APPROVAL')">휴가 승인</a>
                    <a class="collapse-item" th:href="@{/time-off/create}" sec:authorize="hasRole('ADMIN')">연차 관리</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

    </ul>
    <!-- End of Sidebar -->

</th:block>

</html>