<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">보유 연차 내역</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td>사유</td>
                        <td>사용 연차</td>
                        <td>잔여 연차</td>
                        <td>유효 기간</td>
                    </tr>
                    </thead>
                    <tbody id="timeOffTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">휴가 신청 내역</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td>유형</td>
                        <td>기간</td>
                        <td>사용 연차</td>
                        <td>승인 여부</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody id="leaveRequestTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var TITLE = "휴가 현황";

        $(function () {
            benopeAPI.getSession()
                .then(getUserId)
                .then(benopeAPI.findLeaveRequestByUserId)
                .then(leaveRequestAppender)
                .catch(function (e) {
                    benopeUI.confirmModal(TITLE, e.message);
                });

            benopeAPI.getSession()
                .then(getUserId)
                .then(benopeAPI.findTimeOffByUserId)
                .then(timeOffTableAppender)
                .catch(function (e) {
                    benopeUI.confirmModal(TITLE, e.message)
                });
        });

        function getUserId(user) {
            return _.get(user, 'userId');
        }

        function leaveRequestAppender(list) {
            _.chain(list)
                .map(makeTableRow)
                .forEach(append)
                .value();

            function makeTableRow(leaveRequest) {
                var tableRow = $(getHtml(leaveRequest));

                tableRow.find('.btn').on('click', function () {
                    var eventHandler = _.partial(deleteEventHandler, leaveRequest.leaveRequestId, this);
                    benopeUI.confirmModal(TITLE, "삭제하시겠습니까?", eventHandler);
                });

                return tableRow;
            }

            function getHtml(timeOff) {
                var html =
                    "<tr>" +
                    "   <td>{{type}}</td>" +
                    "   <td>{{startDate}} ~ {{endDate}}</td>" +
                    "   <td>{{days}} 일</td>" +
                    "   <td>{{isApproved}}</td>" +
                    "   <td class='text-center align-middle'>" +
                    "       <div class='btn-group align-top'>" +
                    "           <button class='btn btn-sm btn-outline-secondary badge'><i class='fa fa-trash'></i></button>" +
                    "       </div>" +
                    "   </td>" +
                    "</tr>";
                return Handlebars.compile(html)(timeOff)
            }

            function deleteEventHandler(leaveRequestId, element) {
                benopeAPI.deleteLeaveRequest(leaveRequestId)
                    .then(function () {
                        benopeUI.confirmModal(TITLE, "삭제되었습니다.", null, function () {
                            $(element).closest('tr').remove();
                        });
                    }).catch(function (e) {
                    benopeUI.confirmModal(TITLE, e.message);
                });
            }

            function append(html) {
                $('#leaveRequestTable').append(html);
            }
        }

        function timeOffTableAppender(list) {
            _.chain(list)
                .map(getHtml)
                .forEach(append)
                .value();

            function getHtml(timeOff) {
                var html =
                    "<tr>" +
                    "   <td>{{reason}}</td>" +
                    "   <td>{{usedDays}}일</td>" +
                    "   <td>{{remainingDays}}일</td>" +
                    "   <td>{{startDate}} ~ {{endDate}}</td>" +
                    "</tr>";
                return Handlebars.compile(html)(timeOff)
            }

            function append(html) {
                $('#timeOffTable').append(html);
            }
        }
    </script>
</th:block>

</html>